<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>WebShop</title>
</head>
<body>
<div>
    <button name="user" type="button">Register</button> <button name="panier" type="button">Panier</button>
</div>
<h1>Article</h1>


    <div th:each="article : ${articles}">
        <form th:action="@{/articles/panier/__${article.getId()}__}">
            <div th:text="${article.getName()}"></div>
            <div th:text="${article.getPrice()}"></div>
            <input th:type="submit" value="Ajouter au panier"/>
        </form>
    </div>
<form action="/articles/next">
    <button type="submit">next</button>
</form>
</body>
</html>