<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Commands</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
</head>
<body>

<div class="container-fluid">
    <div class="container">


        <a th:href="@{/store}">Back to store</a>

        <div class="alert alert-danger" th:if="${param.error}" th:text="${param.error}">
        </div>

        <div class="alert alert-success" th:if="${param.success}" th:text="${param.success}">
        </div>

        <h1>Commands of [[${#httpServletRequest.remoteUser}]]</h1>
        <h3>Your account : [[${account}]]€</h3>

        <table class="table table-striped">
            <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Status</th>
                <th scope="col">Amount</th>
                <th scope="col">View</th>
                <th scope="col">€</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="commandInfoDTO : ${commandInfoDTOs}">
                <th scope="row">[[${commandInfoDTO.getCommandId()}]]</th>
                <td><strong>[[${commandInfoDTO.getStatus()}]]</strong></td>
                <td><strong>[[${commandInfoDTO.getAmount()}]]€</strong></td>
                <form th:action="@{commands}">
                    <td>
                    <button  class="btn btn-outline-secondary" type="submit" name="idCommand" th:value="${commandInfoDTO.getCommandId()}">view details</button>
                    </td>
                </form>
                <form method="post" th:if="${!commandInfoDTO.isPayed()}" th:action="@{payement/pay(idCommand=${commandInfoDTO.getCommandId()})}">
                    <td><input type="submit" th:value="'pay ' + ${commandInfoDTO.getAmount()} + '€'" class="btn btn-warning"/></td>
                </form>
                <td th:unless="${!commandInfoDTO.isPayed()}">done<strong></strong></td>
            </tr>
            </tbody>
        </table>

        <div th:if="${param.idCommand}">
            <h2>Cart of command #[[${param.idCommand}]]</h2>
            <table class="table table-striped">
                <thead class="table-secondary">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Category</th>
                    <th scope="col">Quantity</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="itemInfoDTO : ${itemInfoDTOs}">
                    <th scope="row">[[${itemInfoDTO.getItemId()}]]</th>
                    <td><strong>[[${itemInfoDTO.getArticleName()}]]</strong></td>
                    <td><strong>[[${itemInfoDTO.getPrice()}]]€</strong></td>
                    <td><strong>[[${itemInfoDTO.getCategory()}]]</strong></td>
                    <td><strong>[[${itemInfoDTO.getQuantity()}]]</strong></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


</body>
</html>
