<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
</head>
<body>

<div class="container-fluid">
    <div class="container">

        <div th:if="${param.error}">
            [[${param.error}]]
        </div>
        <form th:action="@{/signup}" method="post">
            <div><label> User Name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><label> Confirm Password: <input type="password" name="confpassword"/> </label></div>
            <div><label> Address : <input type="text" name="address"/> </label></div>
            <div><input type="submit" class="btn btn-success" value="Sign up"/></div>
        </form>

    </div>
</div>


</body>
</html>
