<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring MVC SYSDIST Demo </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/-->
</head>
<body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" th:href="@{/store}">Store</a>
            <div class="collapse navbar-collapse">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" th:if="!${#httpServletRequest.remoteUser}" th:href="@{/login}">login</a>
                    <a class="nav-item nav-link" th:unless="!${#httpServletRequest.remoteUser}" th:href="@{/logout}">logout([[${#httpServletRequest.remoteUser}]])</a>
                    <a class="nav-item nav-link" th:if="!${#httpServletRequest.remoteUser}" th:href="@{/register}">register</a>
                </div>
            </div>
        </nav>
    <div class="container-fluid">

    

    <div class="container">

        <h1 style="text-align:center">Welcome to the store!</h1>

        <div class="alert alert-danger" th:if="${param.error}" th:text="${param.error}">
        </div>

        <div class="row">
            <ul class="col-md-7 list-group">
                <div class="alert alert-primary">
                    <h3 class="">Articles</h3>
                    <span class="alert alert-light">Page [[${currentPage}]] / [[${maxPage}]]</span>
                    <a th:href="@{/store(numPage=${currentPage}, previous=true)}"><button class="btn btn-info">previous</button></a>
                    <a th:href="@{/store(numPage=${currentPage}, next=true)}"><button class="btn btn-info">next</button></a>
                </div>
                <li class="list-group-item text-secondary" th:each="article : ${articles}">
                    <form method="POST" th:action="@{/store/add(idArticle=${article.getId()}, numPage=${currentPage})}">
                        
                            <div class="alert alert-primary">
                                <input type="submit"  value="+" class="btn btn-success"/>
                                <label>
                                    <input type="number" name="quantity" value="1" min="1" class="form-control form-control-range"/>
                                </label>
                                [[${article.getName()}]]
                                <span class="badge badge-pill badge-secondary">[[${article.getCategory().getName()}]]</span>
                                <span class="badge badge-warning">[[${article.getPrice()}]]€</span>
                            </div>
                        
                    </form>
                </li>
            </ul>
            <ul class="col-md-5 list-group">
                <div class="alert alert-success">
                    <h3>Cart</h3>
                    <a th:href="@{/store/clear}"><button class="btn btn-danger">clear</button></a>
                    <a href="#"><button class="btn btn-warning">finalize</button></a>
                    <select name="livraison" class="form-select form-select-sm">
                        <option value="normal">Normal</option>
                        <option value="express">Express</option>
                    </select>
                </div>
                <li class="list-group-item text-success" th:each="item : ${items}">
                    <form method="POST" th:action="@{/store/sub(idItem=${item.getItemId()})}">
                        
                            <div class="alert alert-success">
                                <input type="submit"  value="-" class="btn btn-danger"/>
                                [[${item.getArticleName()}]]
                                <span class="badge badge-pill badge-secondary">[[${item.getCategory()}]]</span>
                                <span class="badge badge-info">[[${item.getQuantity()}]]
                                <span class="badge badge-dark">[[${item.getPrice()}]]€</span></span>
                                Full price: <span class="badge badge-warning">[[${item.getFullPrice()}]]€</span>
                            </div>
                        
                    </form>
                </li>
            </ul>
        </div>
        
    </div>
</div>




</body>
</html>