<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring MVC SYSDIST Demo </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/-->
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/store}">Store</a>
        <div class="collapse navbar-collapse">
            <div class="navbar-nav">
                <a class="nav-item nav-link" th:if="!${#httpServletRequest.remoteUser}" th:href="@{/login}">login</a>
                <a class="nav-item nav-link" th:unless="!${#httpServletRequest.remoteUser}" th:href="@{/logout}">logout([[${#httpServletRequest.remoteUser}]])</a>
            </div>
        </div>
    </nav>
<div class="container-fluid">

    

    <div class="container">
        


        <h1 style="text-align:center">Welcome to the store!</h1>


        


        <div class="row">
            <ul class="col-md-6 list-group">
                <div class="alert alert-primary">
                    <h3 class="">Articles</h3>
                    <span class="alert alert-light">Page [[${currentPage}]] / [[${maxPage}]]</span>
                    <a th:href="@{/store(numPage=${currentPage}, previous=true)}"><button class="btn btn-info">previous</button></a>
                    <a th:href="@{/store(numPage=${currentPage}, next=true)}"><button class="btn btn-info">next</button></a>
                </div>
                <li class="list-group-item text-secondary" th:each="article : ${articles}">
                    <form method="POST" th:action="@{/store/add(idArticle=${article.getId()}, numPage=${currentPage})}">
                        
                            <div class="alert alert-primary">
                                <input type="submit"  value="+" class="btn btn-success"/>
                                [[${article.getName()}]]
                                <span class="badge badge-pill badge-secondary">[[${article.getCategory().getName()}]]</span>
                                <span class="badge badge-warning">[[${article.getPrice()}]]€</span>
                            </div>
                        
                    </form>
                </li>
            </ul>
            <ul class="col-md-6 list-group">
                <div class="alert alert-success">
                    <h3>Panier</h3>
                    <span class="alert alert-light">Page [[${currentPage}]] / [[${maxPage}]]</span>
                    <a th:href="@{/store(numPage=${currentPage}, previous=true)}"><button class="btn btn-info">previous</button></a>
                    <a th:href="@{/store(numPage=${currentPage}, next=true)}"><button class="btn btn-info">next</button></a>
                    <a href="#"><button class="btn btn-danger">clear</button></a>
                    <a href="#" th:if="${#httpServletRequest.remoteUser}"><button class="btn btn-warning">pay</button></a>
                </div>
                <li class="list-group-item text-success" th:each="article : ${articles}">
                    <form method="POST" th:action="@{/store/add(idArticle=${article.getId()}, numPage=${currentPage})}">
                        
                            <div class="alert alert-success">
                                <input type="submit"  value="-" class="btn btn-danger"/>
                                [[${article.getName()}]]
                                <span class="badge badge-pill badge-secondary">[[${article.getCategory().getName()}]]</span>
                                <span class="badge badge-warning">[[${article.getPrice()}]]€</span>
                            </div>
                        
                    </form>
                </li>
            </ul>
        </div>
        
    </div>
</div>




</body>
</html>